body{
    background-image:linear-gradient(to left, #fc5c7d, #6a82fb);
    width: 50%;
    margin-top: 13%;
    margin-left: 24%;
}
.maincontainer{
    background-color: white;
    text-align: center;
    

}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: -50px;

}
.data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.icons ul li{
    display: inline-block;
}
.icons ul li i{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
